:root {
  --color-netural-100: #ffffff;
  --color-netural-200: #f5f3f0;
  --color-netural-300: #616067;
  --color-netural-400: #241e1c;
  // --color-netural-500: #000000;
  --color-primary-100: #295c86;
  --color-primary-200: #1d415f;
  --color-primary-300: #22303c;
  --color-black-black-05: rgba(0, 0, 0, 0.5);
  // --color-secondary-100: #89b5cc;
  // --color-secondary-200: #2e6887;
}
