@tailwind utilities;
@layer utilities {
  .mask-center {
    mask-position: center;
  }
  .mask-contain {
    mask-size: contain;
  }
  .mask-no-repeat {
    mask-repeat: no-repeat;
  }
  .rotate-x-180 {
    transform: rotateX(180deg);
  }
}
